# executables
*.exe
*.o
*.out
*.app

# documents
*.pdf

# CMake
*.cmake
Makefile
CMakeCache.txt

# Python
*.pb
*.pth
*hdf5
*.onnx
__pycache__
variables
assets

# images
*.jpg
*.jpeg
*.png

# meta data

#directories
build
data
.metadata
